In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("attribution_allocation_student_data.csv")

df.head()

   convert_TF         touch_1  touch_2         touch_3 touch_4 touch_5  tier
0        True           email   direct          social     NaN     NaN     1
1        True          social   direct  organic_search     NaN     NaN     1
2        True  organic_search  display          social     NaN     NaN     1
3        True          social   direct             NaN     NaN     NaN     1
4        True          social  display          direct     NaN     NaN     1

In [31]:
df.convert_TF.value_counts()

False    216034
True       2378
Name: convert_TF, dtype: int64

## Part 1: Attribution

In [42]:
df_attribution = df[df['convert_TF'] == True].drop(['convert_TF', 'tier'], axis = 1)

df_attribution['id'] = np.arange(len(df_attribution))

df_attribution = pd.melt(df_attribution, id_vars=['id'], value_vars=['touch_1', 'touch_2', 'touch_3', 'touch_4', 'touch_5'],
       var_name = 'touch', value_name ='channel').sort_values(['id','touch'])

#drop nas
df_attribution =df_attribution.dropna(axis=0)

df_attribution['touch'] = df_attribution['touch'].str[-1].astype(int)

df_attribution['max_touch'] = df_attribution.groupby('id').touch.transform('max')

df_attribution['max_ind'] = np.where(df_attribution.touch == df_attribution.max_touch, 1, 0)

df_attribution.head(20)

      id  touch         channel  max_touch  max_ind
0      0      1           email          3        0
2378   0      2          direct          3        0
4756   0      3          social          3        1
1      1      1          social          3        0
2379   1      2          direct          3        0
4757   1      3  organic_search          3        1
2      2      1  organic_search          3        0
2380   2      2         display          3        0
4758   2      3          social          3        1
3      3      1          social          2        0
2381   3      2          direct          2        1
4      4      1          social          3        0
2382   4      2         display          3        0
4760   4      3          direct          3        1
5      5      1          social          2        0
2383   5      2         display          2        1
6      6      1          social          1        1
7      7      1  organic_search          4        0
2385   7      2         display          4        0
4763   7      3          social          4        0

In [33]:
# last interaction
df_attribution[df_attribution['max_ind'] == 1].channel.value_counts()

organic_search    662
direct            613
display           406
social            352
email             323
paid_search        12
referral           10
Name: channel, dtype: int64

In [35]:
# last non-direct
df_attribution_nodirect = df_attribution[df_attribution['channel'] != 'direct']

df_attribution_nodirect['max_ind'] = np.where(df_attribution_nodirect.touch == df_attribution_nodirect.groupby('id').touch.transform('max'), 1, 0)

df_attribution_nodirect[df_attribution_nodirect['max_ind'] == 1].channel.value_counts()

/Users/Sandra/Documents/Assignments/1/AB_Testing/venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

organic_search    896
display           525
social            454
email             426
paid_search        14
referral           14
Name: channel, dtype: int64

In [30]:
# first interaction
df_attribution[df_attribution['touch'] == '1'].channel.value_counts()

organic_search    675
direct            550
display           434
email             357
social            340
paid_search        12
referral           10
Name: channel, dtype: int64

In [55]:
# position based

def attribution(row):
    if row['max_touch'] == 1:
        val = 1
    elif row['max_touch'] == 2:
        val = 0.5
    elif row['touch'] == 1 or row['max_ind'] == 1:
        val = 0.4
    else:
        val = 0.2 / (int(row['max_touch']) - 2)
        
    return val
    
df_attribution['attr'] = df_attribution.apply(attribution, axis=1)

#check if I did it correctly
df_attribution['check'] = df_attribution.groupby('id').attr.transform(sum)
print("Check error: %d" % (sum(df_attribution['check'] != 1)))

df_attribution.groupby('channel').attr.agg('sum').reset_index()

Check error: 0

          channel        attr
0          direct  580.866667
1         display  416.700000
2           email  340.566667
3  organic_search  669.033333
4     paid_search   11.233333
5        referral   10.300000
6          social  349.300000